* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(53, 53, 56);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 900px;
    height: 580px;
    
  }
  .topo {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(99, 99, 101);
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px;
    margin: 25px;
  }
  span {
    margin: 10px;
    background-color: transparent;
    font-family: cursive;
    color: orangered;
  }
  form {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
  }
  label p {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: #fff;
    padding-left: 10px;
    padding-bottom: 3px;
  }
  input {
    height: 30px;
    border: 1px solid orange;
    border-radius: 20px;
    padding-left: 15px;
    background-color: azure;
  }
  
  .form_inputs {
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }
  .btnDesktop {
    width: 100px;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 20px;
    margin: 10px;
    background-color: orange;
    font-family: cursive;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
  .bntMobile {
    display: none;
  }

  
  form label:first-child {
    margin-right: 15px;
  }
  .base {
    width: 80%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: rgb(99, 99, 101);
  
    border-radius: 20px;
    margin: 10px;
  }
  .lista {
    color: azure;
    width: 100%;
    max-height: inherit;
  }
  
  .lista.scroll {
    overflow-y: scroll;
  }
  .lista ul li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 6px 10px;
    border-bottom: 3px solid rgb(53, 53, 56);
    font-size: 35px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: orange;
    padding-left: 15px;
  }
  
  .btnComplete {
    width: 100px;
    height: 25px;
    border: 2px solid rgb(88, 205, 88);
    border-radius: 20px;
    margin: 10px;
    background-color: #fff;
    font-family: cursive;
    font-weight: bold;
    color: rgb(88, 205, 88);
  }
  .btnComplete2 {
    visibility: hidden;
  }
  
  .btnDelete {
    width: 100px;
    height: 25px;
    border: 2px solid red;
    border-radius: 20px;
    margin: 10px;
    background-color: #fff;
    font-family: cursive;
    font-weight: bold;
    color: red;
  }
  
  .text1 {
    font-size: 24px;
    text-decoration: none;
  }
  .text2 {
    font-size: 24px;
    text-decoration: line-through;
    color: #ccc;
    
  }
  .lista p {
    font-size: 15px;
    color: #ccc;
    padding-left: 25px;
  }
  @media (max-width: 432px) {

      .container {
        display: flex;
        flex-direction: column;
        
        width: 100%;
        
      }
      .topo {
        width: 90%;
      }
 
      .base {
        width: 90%;
        height: 55%;
      }
      .form_inputs {
        display: flex;
        flex-direction: column;
        
      }
      .bntMobile {
        background-color: orange;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0 auto;
        margin-top: 50px;
        border: 1px solid transparent;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        font-size: 35px;
        
      }
      .btnDesktop {
        display: none;
      }

      .btnCompleDelete {
        display: flex;
        flex-direction: column;
        margin: 0 -10px;
      }
      .container span, p {
        font-size: 75%;
        
      }
      input {
        height: 60%;
        padding: 5px;
      }

  }

  @media (max-height: 722px) {
      .container {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      .topo {
        width: 90%;
      }
      .base {
        width: 90%;
        height: 55%;
      }    
  }